@charset "utf-8";

#container{}

/*메인슬라이더*/
.main_slider{
    position:relative;
    height:690px;
    background:url(../images/main_img.jpg) no-repeat center center;
}
.slider_t{
    position:absolute;
    top:34%;
    left:50%
}
.slider_t h3{}
.slider_t h3 span{
    display:block;
}
.slider_t p{
    font-size:14px;
    margin-top:10px;
}

.slider_btn{
    position:absolute;
    width:25px;
    height:45px;
    text-indent:-9999px;
    top:50%;
    margin-top:-23px;
}
.slider_btn a{
    display:block;
    height:100%;
}
.slider_l_btn{
    background:url(../images/sp_com.png) no-repeat -128px -61px;
    left:70px;
}
.slider_r_btn{
    background:url(../images/sp_com.png) no-repeat -158px -61px;
    right:70px;
}
/*메인슬라이더*/

/*main_con01*/
.main_con01{
    text-align:center;
    padding:30px 0;
}

.main_con01 ul{
    display:inline-block;
}
.main_con01 li{
    float:left;
    padding:0 50px;
}
.main_con01 a{}
.main_con01 span{
    width:70px;
    height:55px;
    display:block;
    background:url(../images/sp_com.png) no-repeat 0 -116px;
    text-indent:-9999px;
    margin-bottom:20px;
}
.con01_icon02 span{
    background:url(../images/sp_com.png) no-repeat -71px -116px;
}
.con01_icon03 span{
    background:url(../images/sp_com.png) no-repeat -144px -116px;
}
.con01_icon04 span{
    background:url(../images/sp_com.png) no-repeat -216px -116px;
}
.con01_icon05 span{
    background:url(../images/sp_com.png) no-repeat -288px -116px;
}
.con01_icon06 span{
    background:url(../images/sp_com.png) no-repeat -360px -116px;
}
/*main_con01*/

/*main_con02*/
.main_con02{
    background:#DFD9D1;
    padding:50px 0;
}
.main_con02 .inner{
    position:relative;
}
.main_con02 .prew_btn{
    left:-50px;
}
.main_con02 .nex_btn{
    right:-50px;
}

.con02_tit{
    text-align:center;
    font-weight:bold;
    color:#333;
}
.con02_tit h2{
    font-size:30px;
}
.con02_tit p{
    margin-top:10px;
    margin-bottom:40px;
}

.con02_left{
    float:left;
    position:relative;
}
.con02_left img{
    display:block;
}

.con02_l_box{
    position:absolute;
    right:0;
    top:0;
    color:#fff;
    background:rgba(0,0,0,0.5);
    width:240px;
    height:100%;
    padding:30px 15px;
    box-sizing:border-box;
}
.con02_l_box h4{}
.con02_l_box p{
    margin-top:20px;
    font-size:13px;
}
.con02_l_box .first_txt{
    font-size:20px;
}
.con02_l_box span{
    font-weight:bold;
}
.more_btn{
    border:1px solid #fff;
    text-align:center;
    line-height:height:40px;
    position:absolute;
    width:210px;
    bottom:30px;
}
.more_btn a{
    color:#fff;
}

.con02_right{
    width:360px;
    height:430px;
    padding:0 20px;
    background:#fff;
    float:left;
}
.con02_right li{
    margin-top:22px;
}
.con02_right a{}
.con02_right img{
    width:80px;
    vertical-align:middle;
}

.list_txt{
    display:inline-block;
    vertical-align:middle;
    margin-left:10px;
}
.list_txt p{
    font-size:13px;
    font-weight:bold;
}
/*main_con02*/

/*main_con03*/
.main_con03{
    padding:30px 0;
}

.con03{
    width:279px;
    height:279px;
    float:left;
    margin-right:28px;
    text-align:center;
}
.con03_menu01{
    background:url(../images/mainrow3_img1.jpg) no-repeat;
}
.con03_menu02{
    background:url(../images/mainrow3_img2.jpg) no-repeat;
}
.con03_menu03{
    background:url(../images/mainrow3_img3.jpg) no-repeat;
}
.con03 h3{
    padding-top:100px;
}
.con03_menu01 h3,.con03_menu03 h3{
    color:#fff;
}
.pdt_search{
    padding:30px 20px;
    box-sizing:border-box;
    margin-right:0;
    background:#f2f0ed;
}
.pdt_search h3{
    padding-top:0;
}
.pdt_search select, .pdt_search input, .pdt_search button{
    width:100%;
    height:50px;
    border:0;
    margin-top:10px;
    padding:0 15px;
    box-sizing:border-box;
}
.pdt_search select{
    appearance:none;
    -webkit-appearance:none;
    background:#fff url(../images/arrow.jpg) no-repeat 95% center;
}
.pdt_search input{}
.pdt_search button{
    background:#2d5b79;
    color:#fff;
    margin-top:20px;
    cursor:pointer;
}
/*main_con03*/

/*main_con04*/
.main_con04{}

.con04{
    width:586px;
    height:200px;
    float:left;
    margin-right:28px;
    background:#f2f0ed;
    position:relative;
    font-size:14px;
}
.news{
    margin-right:0;
}
.con04 h2{
    color:#2d5b79;
    font-size:20px;
    text-align:center;
    padding:15px 0;
    border-bottom:1px solid #fff;
}
.con04 p{
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}
.plus_btn{
    width:24px;
    height:24px;
    display:block;
    background:#fff url(../images/sp_com.png) no-repeat -199px -63px;
    text-indent:-9999px;
    border-radius:50%;
    position:absolute;
    top:15px;
    right:15px;
}

/*공지*/
.notice_list{}
.notice_list li{
    width:50%;
    height:145px;
    border-right:1px solid #fff;
    padding:20px;
    box-sizing:border-box;
    float:left;
}
.notice_list li a{}
.notice_list li p{
    width:100%;
}
.notice_list li span{
    color:#999;
    font-size:12px;
    margin:10px 0;
    display:block;
}
/*공지*/

/*뉴스*/
.news_list{}
.news_list li{
    padding:0 20px;
    border-bottom:1px solid #fff;
    position:relative;
    line-height:45px;
}
.news_list li:last-child{
    border-bottom:0;
}
.news_list li a{}
.news_list li p{
    width:70%;
}
.news_list li span{
    position:absolute;
    top:0;
    right:20px;
}
/*뉴스*/
/*main_con04*/

/*main_con05*/
.main_con05{
    background:url(../images/mainrow4_bg.jpg) no-repeat;
    background-size:cover;
    padding:50px 0;
    margin-top:28px;
}

.main_con05 ul{}
.main_con05 ul li{
    width:279px;
    height:390px;
    margin-right:28px;
    float:left;
    text-align:center;
}
.con05_menu01{
    background:url(../images/mainrow5_img1.jpg) no-repeat;
}
.con05_menu02{
    background:url(../images/mainrow5_img2.jpg) no-repeat;
}
.con05_menu03{
    background:url(../images/mainrow5_img3.jpg) no-repeat;
}
.con05_menu04{
    background:url(../images/mainrow5_img4.jpg.jpg) no-repeat;
}
.main_con05 ul .con05_menu04{
    margin-right:0;
}
.main_con05 ul li a{}
.main_con05 ul li h3{
    padding-top:300px;
    font-size: 22px;
}
.main_con05 ul li p{
    font-size:14px;
}
/*main_con05*/